<div class="filter-div d-flex">
    <span><b>Filter:</b></span>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="all" value="All"
         (change)="onRadioButtonSelectionChanged()"
         [(ngModel)]="selectedRadioButtonvalue">
        <label class="form-check-label" for="all">{{'All('+all+')'}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="available" value="Available"
         (change)="onRadioButtonSelectionChanged()"
         [(ngModel)]="selectedRadioButtonvalue">
        <label class="form-check-label" for="available">{{'Available('+available+')'}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id=" not available" value="Not Available"
         (change)="onRadioButtonSelectionChanged()"
         [(ngModel)]="selectedRadioButtonvalue">
        <label class="form-check-label" for="not available">{{'Not Available('+notAvailable+')'}}</label>
    </div>
</div>